.TaskItem{
  display: flex;
  background-color: white;
  /* width: 100%; */
  padding: 0.5rem;
  justify-content: space-between;
  margin-top: 0.5rem;
  border-radius: 8px;
}

.LeftSideTask{
  display: flex;
  width: 75%;
  align-items: center;
}

.RightSideTask{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TaskText{
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 85%;
  word-break: break-word;
  cursor: default;
}

.Pomodoros{
  display: flex;
  align-items: center;
  cursor: default;
}

.EditButton{
  color: yellow;
}