.Pomodoro{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BackgroundImage{
  background-image: url('/src/assets/images/seoul.jpg');
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  width: 100vw; 
  height: 100vh; 
  background-repeat: no-repeat;
}

.AppContainer{
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Timer{
  text-align: center;
  z-index: 2;
  height: auto;
}

.TaskList{
  position: absolute;
  left: 100%; 
  margin-left: 4rem; 
  z-index: 2;
  width: 95%;
  height: 100%;
  min-height: 400px;

  /* min-width: 300px;
  min-height: 1px; */
}
