.CustomButton{
  color: black;
  background-color: white;
  border-radius: 30px;
  margin: 0px;
  padding: 0.4rem 2rem;
  font-family: 'Space Grotesk';
  cursor: pointer;
  box-shadow: none;
  border: 1.5px solid white;
  font-size: 25px;
  font-weight: 500;
  transition: background-color 0.5s, color 0.5s;
}

.CustomButton:hover{
  color: white;
  background: none;

}