.TaskMenuContainer{
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 8px;
  text-align: left;
  margin-top: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  animation: 0.1s ease-in-out 0s 1 normal none running expand;
  display: flex;
  flex-direction: column;
  
}

.TaskInformation{
  padding: 20px 20px 0px;
}

.TaskInput{
  padding: 12px 0px;
}

.inputField{
  font-family: 'Space Grotesk';
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  height: 2rem;
  color: rgb(85, 85, 85);
  box-sizing: border-box;
  box-shadow: none;
  border: none;
}

.inputField:focus{
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.PomodorosRequiredContainer{
  padding: 12px 0px;
}


.PomodoroCounter{
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.EstimatedPomodorosInput{
  border-radius: 6px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 75px;
  box-sizing: border-box;
  /* margin-right: 10px; */
  font-weight: bold;
  /* margin-top: 10px; */
}

.EstimatedPomodorosInput:focus{
  outline: none;
}

.EstimatedPomodorosButtons{
  display: flex;
  gap: 0.5rem;
}

.TaskButtons{
  margin-top: auto;
  padding: 14px 20px;
  text-align: right;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgb(239, 239, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SaveTaskButton{
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
  color: white;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
}

.SaveTaskButton:hover{
  opacity: 1;
}

.CancelTaskButton{
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  padding: 8px 12px;
  min-width: 70px;
  display: inline-block;
  margin-right: 14px;
  background: none;
  border: none;
  color: rgb(136, 136, 136);
  font-weight: bold;
  box-shadow: none;
}